version: "3"

services:
  ofscraper:
    container_name: ofscraper
    image: datawhores/of-scraper:latest
    # specify the uid and gid you want to use, if not 1000:1000
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      # change the host path to wherever your config dir/file is
      - /home/john/.config/ofscraper:/home/ofscraper/.config/ofscraper
      # you can use any path for the following, so long as
      # you update your config file accordingly, and ensure that
      # permissions are correct
      - ./bin:/home/ofscraper/bin
    stdin_open: true # docker run -i
    tty: true # docker run -t

    # use the following command if you want to interact with the script.
    command: ["/bin/bash", "-c", "sleep infinity"]
    # bring the container up with `docker compose up -d` and then
    # run it with something like:
    # `docker compose exec -it ofscraper ofscraper`
    # (optionally, you can specify additional arguments)

    # alternatively, if you want the script to run automatically with a set of arguments,
    # use something like the following command instead:
    # command: "ofscraper --username ALL --posts all"
