[tool.poetry]
name = "ofscraper"
version = "1.60"
description = "automatically scrape onlyfans"
authors = ["excludedBittern8 <excludedBittern8@riseup.net>"]
readme = "README.md"
packages = [{include = "src"}]

[tool.poetry.dependencies]
python = ">=3.7.0,<4"
httpx = {extras = ["http2"], version = "^0.23.3"}
inquirerpy = "^0.3.4"
revolution = "^0.3.0"
tqdm = "^4.65.0"
setuptools = "^67.6.0"
schedule = "^1.1.0"
browser-cookie3 = "^0.17.1"
requests = "^2.28.2"
bs4 = "^0.0.1"
rich = "^13.3.2"
tenacity = "^8.2.2"
arrow = "^1.2.3"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
ofscraper = "src.scraper:main"

[project.scripts]
ofscraper = "src.scraper:main"

[tool.poetry.urls]
"Homepage" = "https://github.com/excludedBittern8/ofscraper"